<nav class="navbar navbar-expand-lg sticky-top bg-secondary bg-gradient" id="header">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><%= link_to "Symbols", symbols_path, class: "nav-link text-light" %></li>
                <li class="nav-item">
                    <%= link_to "Exchange", latest_path, class: "nav-link text-light" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Conversion", convert_path, class: "nav-link text-light" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Fluctuation", fluctuation_path, class: "nav-link text-light" %>
                </li>
      </ul>
    </div>
  </div>
</nav>
